#calc {
  display: inline;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  background-color: aqua;
  justify-content: center;
  row-gap: 0px;
  
}

.row1 {
  width: 400px;
}

.total {
  background:black;
  color:white;
  display:inline-block;
  padding: 1px 5px;
  width: 400px;
  text-align: right;
  font-size: 50px;
  margin: 0px 0px 0px 0px;
  border: 2px;
  border-color: black;
}

.Cbutton {
  background:#d8d9db;
  display:inline-block;
  padding: 5px 5px 5px 5px;
  width: 200px;
  font-size: 50px;
  margin: 0px 0px 0px 0px;
  border-width: 2px;
  border-top:grey ;
  border-left:grey;
  border-top: black;
  ;
}

.greySqBtn {
  background:#d8d9db;
  display:inline-block;
  padding: 5px 5px 5px 5px;
  width: 100px;
  font-size: 50px;
  border-width: 2px;
  border-top:grey ;
  border-left:grey;
  border-top: black;
}

.orangeSqbtn {
  background:#ffa052;
  display:inline-block;
  padding:4px 5px 10px 5px;
  width: 100px;
  font-size: 50px;
  border-top:#d8d9db;
  border-right:#ffa052
  
;
}

.CLongbutton {
  background:#d8d9db;
  display:inline-block;
  padding: 5px 5px 5px 5px;
  width: 300px;
  font-size: 50px;
  border-width: 2px;
  border-top:grey ;
  border-left:grey;
  border-top: black;
}
